<b>Manage Collaborators</b>
<% @users.each do |u| %>
  <div>
  <%= u.name %>
  <% if @wiki.collaborators.pluck("user_id").include?(u.id) %>
    <%= link_to "Delete", wiki_collaborator_path(@wiki, u), method: :delete %>
  <% else %>
    <%= link_to "Add", wiki_collaborators_path(@wiki, user_id: u.id), method: :post %>
  <% end %>
  </div>
<% end %>
